mess
.idea
.DS_Store
*.log
altaira/logs/*
!altaira/logs/.gitkeep
sql0/logs/*
!sql0/logs/.gitkeep
blockchains
vendor/
!altaira/includes/lib/Vendor
credentials.php
altaira/.*_lastHeight
altaira/.tmp_*_lastRun
altaira/.tmp_*_lastHeightScanned
altaira/includes/credentials.php
altaira/html/credentials.php
altaira/vendor/
manualScripts/exchangeScripts/exchangeIncludes/credentials.php
sql3/credentials.php
ratchet/credentials.php
ratchet/markets.php
*.swp
*.swo


